
button {
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
span {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 900;
  color: burlywood;
}
.race {
  border-bottom: 5px dashed forestgreen;
}
.track {
  display: flex;
}
.main-control {
  max-width: 400px;
}
.controls {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.btn {
  width: 40px;
  height: 40px;
  color: red;
  font-size: 24px;
  font-weight: 900;
}
.btn:disabled {
  background-color: grey;
}
.car-container {
  position: relative;
  height: 65px;
  width: 1000px;
}
.car {
  position: absolute;
}
.car-img {
  height: 80px;
  width: 110px;
}
.finish {
  position: absolute;
  width: 60px;
  background-size: cover;
  background-image: url("./assets/flag.png");
  height: 50px;
  right: 120px;
  bottom: 10px;
}
